* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Poppins", sans-serif;
}

.section-gap {
  padding: 120px 0;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  color: #777777;
}

.button {
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background-image: -webkit-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
  font-weight: 500;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
}
.button i {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  transition: 0.4s;
}
.button:hover i {
  right: 20px;
}

@media (max-width: 767px) {
  .section-gap {
    padding: 50px 0;
  }
  h1 {
    font-size: 25px;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: #fff;
  z-index: 99;
}
nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
nav .nav-list ul {
  display: flex;
  list-style: none;
  transform: translateX(100%) scaleX(0);
  transition: 0.7S;
}
nav .nav-list ul li a {
  color: #fff;
  margin: 0px 25px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  transition: 0.4s;
}
nav .nav-list ul li a:hover {
  color: #7a77ff !important;
}
nav .nav-btn .btn1 {
  position: absolute;
  cursor: pointer;
}
nav .nav-btn .btn1 span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 3px;
  background-color: #fff;
}
nav .nav-btn .btn1 span:first-child {
  top: 0;
}
nav .nav-btn .btn1 span:nth-child(2) {
  top: 5px;
}
nav .nav-btn .btn1 span:last-child {
  top: 10px;
}
nav .nav-btn .btn2 {
  position: absolute;
  cursor: pointer;
  display: none;
}
nav .nav-btn .btn2 span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 3px;
  background-color: #fff;
}
nav .nav-btn .btn2 span:first-child {
  top: 0;
  transform: rotate(-50deg);
}
nav .nav-btn .btn2 span:last-child {
  top: 0;
  transform: rotate(50deg);
}

@media (max-width: 991px) and (min-width: 758px) {
  nav .navbar ul li a {
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  nav .navbar {
    width: 100%;
    position: relative;
  }
  nav .navbar .nav-btn {
    position: absolute;
    top: 50%;
    right: 20px;
  }
  nav .navbar ul {
    position: absolute;
    top: 77px;
    right: 0px;
    background-color: #fff;
    flex-direction: column;
    padding: 20px 10px;
  }
  nav .navbar ul li {
    text-align: end;
    padding: 5px 0;
  }
  nav .navbar ul li a {
    color: #7a77ff !important;
  }
}
#banner .banner-slider {
  position: relative;
  color: #fff;
}
#banner .banner-slider .banner-item {
  padding-top: 440px;
  padding-bottom: 130px;
  text-align: right;
}
#banner .banner-slider .next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  transition: 0.4s;
  cursor: pointer;
}
#banner .banner-slider .next-arrow:hover {
  color: #fff;
}
#banner .banner-slider .prev-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  transition: 0.4s;
  cursor: pointer;
}
#banner .banner-slider .prev-arrow:hover {
  color: #fff;
}

@media (max-width: 575px) {
  #banner .banner-slider .banner-item {
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: right;
  }
  #banner .banner-slider .banner-item .banner-text p {
    color: #fff;
  }
  #banner .banner-slider .prev-arrow {
    top: 90%;
    left: 15px;
  }
  #banner .banner-slider .next-arrow {
    top: 90%;
    right: 15px;
  }
}
#about .about-right h1 {
  margin-bottom: 20px;
}
#about .about-right p {
  padding-right: 25%;
  margin-bottom: 30px;
}

@media (max-width: 767px) and (min-width: 576px) {
  #about .about-right h1 {
    margin: 20px;
  }
  #about .about-right p {
    padding-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  #about .about-right h1 {
    margin: 20px;
  }
  #about .about-right p {
    padding-right: 0;
    margin-bottom: 30px;
  }
}
#blog .blog-item .blog-img {
  transition: all 0.3s ease 0s;
}
#blog .blog-item .blog-img:hover {
  opacity: 0.5;
  cursor: pointer;
  transform: scale(1.05);
}
#blog .blog-item .blog-content {
  margin: 30px 0;
}
#blog .blog-item .blog-content h4 a {
  font-size: 22px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#blog .blog-item .blog-content p {
  padding: 0px 15px 0 0;
  margin: 15px 0 45px 0;
}
#blog .blog-item .blog-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 15px 0 2px 0;
  margin-top: 15px;
}
#blog .blog-item .blog-footer .blog-footer-img a {
  color: #222;
  padding-left: 8px;
}
#blog .blog-item .blog-footer .blog-footer-icon p {
  padding-left: 10px;
  padding-top: 4px;
}

@media (max-width: 575px) {
  #blog .blog-item .blog-content p {
    padding: 0;
    margin: 0;
  }
}
#contact .contact-right {
  padding: 7% 16% 0 5%;
}
#contact .contact-right h1 {
  margin-bottom: 25px;
}
#contact .contact-right p {
  margin-bottom: 35px;
}
#contact .name {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
}
#contact .email {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
}
#contact .textArea {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 150px;
  outline: none;
}

@media (max-width: 991px) {
  #contact .contact-right {
    padding: 7% 16% 0 5%;
  }
}
@media (max-width: 575px) {
  #contact .contact-right {
    padding: 0;
  }
  #contact .contact-right h1 {
    margin-top: 20px;
  }
  #contact .contact-right .button {
    padding-left: 30px;
    padding-right: 60px;
  }
}
#gallery {
  background-color: #222;
  color: #fff;
}
#gallery .gallery__header {
  text-align: center;
  margin-bottom: 30px;
}
#gallery .gallery__header .gallery__heading--text {
  color: #777;
  margin-top: 30px;
  padding: 0 100px;
}

.sl-overly {
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 575px) {
  #gallery .gallery__header .gallery__heading--text {
    padding: 0;
  }
}
#callto {
  background-image: -webkit-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
}
#callto h1 {
  color: #fff;
}
#callto .callto-btn {
  border: 1px solid #777;
  color: #222;
  font-weight: 500;
  background: #fff;
  border: 1px solid transparent;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 20px;
  padding: 12px 28px;
  transition: all 0.3s ease 0s;
}
#callto .callto-btn:hover {
  background-image: -webkit-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
  color: #fff;
}

@media (max-width: 575px) {
  #callto {
    text-align: center;
  }
  #callto h1 {
    margin-bottom: 20px;
  }
  #callto .callto-btn {
    padding: 8px 18px;
  }
}
footer {
  background-color: #222222;
  color: #fff;
  padding: 25px 0;
}
footer .footer-text span {
  color: #7a77ff;
  cursor: pointer;
}
footer .footer-text i {
  color: #7a77ff;
  padding-right: 3px;
}
footer .footer-icone a i {
  padding: 10px 15px;
  background-color: #111111;
  transition: all 0.3s ease 0s;
  color: #eeeeee;
  display: inline-block;
}
footer .footer-icone a i:hover {
  background-image: -webkit-linear-gradient(0deg, #7a77ff 0%, #8cfe86 100%);
}

@media (max-width: 575px) {
  footer .footer-text {
    margin-bottom: 20px;
  }
  footer .footer-icone {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */